{% macro player(player) %}
    <img src="/img/flag/{{ player.country }}.png">
    <img src="/img/race/{{ player.race }}.gif">
    <a href="/player/{{ player.id }}">{{ player.nickname }}</a>
{% endmacro %}

{% macro playerWithRace(player, race, withLink) %}
    <img src="/img/flag/{{ player.country }}.png">
    <img src="/img/race/{{ race }}.gif">
    {% if withLink %}
        <a href="/player/{{ player.id }}/at">{{ player.nickname }}</a>
    {% else %}
        <span>{{ player.nickname }}</span>
    {% endif %}
{% endmacro %}

{% macro eventLink(e) %}
    <a href="/event/{{ e.id }}">{{ e.name }}</a>
{% endmacro %}