{% import 'macro/playerMacro.twig' as pm %}
<table class="my-table table-bordered table-striped">
    {% for match in matches %}
        <tr>
            <td class="{{ match.score.wins > match.score.loses ? "winner" }}">{{ pm.player(match.player) }}</td>
            <td>{{ match.score.wins }} - {{ match.score.loses }}</td>
            <td class="{{ match.score.wins < match.score.loses ? "winner" }}">{{ pm.player(match.enemy) }}</td>
            {% if not excludeEvent %}
                <td>{{ pm.eventLink(match.event) }}</td>
                <td>{{ match.event.date }}</td>
            {% endif %}
            {% if currentUser.admin %}
                <td>
                    <a href="/match/{{ match.id }}/edit" class="btn btn-sm btn-warning">Edit</a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>