<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ player.nickname }}</title>
    {% include 'commonHeader.twig' %}
</head>
<body>
{% include 'navbar.twig' %}
{% import 'macro/playerMacro.twig' as pm %}

<div class="container">
    {% include 'playerHeader.twig' %}
    <div class="row my-row">
        <div class="col-sm-12">
            <table class="my-table table-bordered table-striped">
                {% for race, stat in player.statistics['byRace'] %}
                    <tr>
                        <td><img src="/img/race/{{ race }}.gif"></td>
                        <td>{{ stat['total'].wins }} - {{ stat['total'].loses }}</td>
                        <td>{{ stat['total'].loses > 0 or stat['total'].wins > 0 ? (stat['total'].wins * 100 / (stat['total'].wins + stat['total'].loses))|round(1) : 0 }}%</td>
                        <td>({{ stat['maps'].wins }} - {{ stat['maps'].loses }})</td>
                        <td>{{ stat['maps'].loses > 0 or stat['maps'].wins > 0 ? (stat['maps'].wins * 100 / (stat['maps'].wins + stat['maps'].loses))|round(1) : 0 }}%</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>{{ player.statistics['total'].wins }} - {{ player.statistics['total'].loses }}</td>
                    <td>{{ player.statistics['total'].loses > 0 or player.statistics['total'].wins > 0 ? (player.statistics['total'].wins * 100 / (player.statistics['total'].wins + player.statistics['total'].loses))|round(1) : 0 }}%</td>
                    <td>{{ player.statistics['maps'].wins }} - {{ player.statistics['maps'].loses }}</td>
                    <td>{{ player.statistics['maps'].loses > 0 or player.statistics['maps'].wins > 0 ? (player.statistics['maps'].wins * 100 / (player.statistics['maps'].wins + player.statistics['maps'].loses))|round(1) : 0 }}%</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row my-row">
        <div class="col-md-12">
            {% include 'matchesTable.twig' %}
        </div>
    </div>
</div>

<script>
    $("document").ready(function() {
        let vsEl = $("#vs");
        initCheckStatsUrl($(vsEl).val());
        $(vsEl).change(function() {
            let playerId = $(this).val();
            initCheckStatsUrl(playerId);
        })
    });

    function initCheckStatsUrl(playerId) {
        $("#check-stats").attr("href", `${window.location.href }/vs/${playerId}`);
    }
</script>

</body>
</html>