{% import 'macro/playerMacro.twig' as pm %}
<div class="row my-row">
    <div class="col-md-12">
        <div>
            {{ pm.player(player) }}
            {% if currentUser.admin %}
                <a class="btn btn-warning btn-sm" href="/player/{{ player.id }}/edit">Edit</a>
            {% endif %}
            {% if atMatches %}
                <a href="/player/{{ player.id }}" class="btn btn-sm btn-primary">Check solo stats</a>
            {% else %}
                <a href="/player/{{ player.id }}/at" class="btn btn-sm btn-primary">Check AT stats</a>
                <a href="/player/{{ player.id }}" class="btn btn-primary btn-sm" id="check-stats" target="_blank">Check stats vs:</a>
                <select id="vs">
                    {% for player in dreamsPlayers %}
                        <option value="{{ player.id }}">{{ player.nickname }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>
    </div>
</div>